@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --primary-font: "Oswald", sans-serif;
  --secondary-font: "Source Sans 3", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--secondary-font);
  font-weight: 600;
  background-color: var(--color-6);
  color: white;
}

h1 {
  font-size: 3rem;
  color: var(--color-5);
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

input {
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid rgba(93, 12, 255, 1);
  background-color: var(--color-6);
  color: white;
  font-family: var(--secondary-font);
  font-size: 1rem;
}

button {
  border: 0px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: white;
  border-radius: 2px;
}

.addButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button:hover {
  border: 2px solid var(--color-5);
}

.toDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.completed {
  text-decoration: line-through;
  color: rgb(107, 105, 105);
}

.tasks {
  margin: 2rem, 0;
}

.buttonTaskItem {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  width: 6rem;
}

.bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center {
  display: flex;
  gap: 1rem;
}
